@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600&display=swap');

body {
    @apply font-primary overflow-x-hidden text-base;
}
.collapse {
    display: block;
    max-height: 0px;
    overflow: hidden;
    transition: max-height .5s cubic-bezier(0, 1, 0, 1);
}
.collapse.show {
    max-height: 99em;
    transition: max-height .5s ease-in-out;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    background: #e5e5e5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}

input,
textarea,
button,
select {
    font-family: inherit;
    font-size: inherit;
}

html {
    font-size: 62.5%;
}

/*  common  */

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100%-48px);
    margin: 0 auto;
}

.btn {
    --height: 56px;

    display: inline-block;
    min-width: 130px;
    height: var(--height);
    line-height: var(--height);
    border: 1px solid rgba(0, 9, 88, 0.7);
    border-radius: 99px;
    font-weight: 400;
    text-align: center;
    font-size: 1.4rem;
    color: #000958;
}