<!-- Header Start -->
<header class="header">
    <div class="container">
        <div class="header__inner">
            <!-- logo -->
            <img
                src="/src/assets/images/logos/logo.png"
                alt="Lucy"
                class="logo"
            />

            <!-- navbar -->
            <nav class="navbar">
                <ul class="navbar__list">
                    <li class="navbar__item">
                        <a href="#!" class="navbar__link"> Home </a>
                    </li>
                    <li class="navbar__item">
                        <a href="#!" class="navbar__link"> About </a>
                    </li>
                    <li class="navbar__item">
                        <a href="#!" class="navbar__link">Services & Rates </a>
                    </li>
                    <li class="navbar__item">
                        <a href="#!" class="navbar__link"> Reviewa </a>
                    </li>
                    <li class="navbar__item">
                        <a href="#!" class="navbar__link"> Contacts us</a>
                    </li>
                </ul>
            </nav>

            <!-- header action -->
            <div class="header__action">
                <div class="header-action">
                    <a href="#!" class="header-action__link">Sign in</a>
                    <a href="#!" class="header-action__btn btn">Sign up</a>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- end Header -->
