<!-- About -->
<section class= "about">
    <div class="container">
        <div class="about__inner">
            <!-- about content 1-->
            <div class="about__content">
                <p class="about__label">
                    //  About  //
                </p>
                <div class="about__heading">
                    Best Agency For
                    Your Pet.
                </div>
                <p class="about__desc">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <div class="about__checklist">
                    <div class="about__check-item">Certified Groomer</div>
                    <div class="about__check-item">Lover14+ Years Experience</div>
                    <div class="about__check-item">Animal</div>
                    <div class="about__check-item">Pet Parent Of 3 Dogs</div>
                </div>    
            </div>
            
            <!-- about media 1--> 
            <div class="about__media about__media-top">
                <!-- about card -->
                <div class="about__card">
                    <b class="about__card-title">20+</b>
                    <p class="about__card-desc">Years Experience</p>
                    <img src="./assets/img/about/decor-about1.png" alt="decorator about" class="about__card-decorator">
                </div>
                <!-- about img wrap -->
                <figure class="about__img-wrap">
                    <img src="./assets/img/about/bg-media-about-1.png" alt="decorator about" class="about__img">
                </figure>
                <img src="./assets/img/about/decr7.png" alt="decorator about" class="about__media-decorator">
            </div>

            <!-- abou media 2-->
            <div class="about__media about__media-bottom">
                <figure class=" about__img-wrap-bottom">
                    <img src="./assets/img/about/bg-about-media-02.png" alt="decorator about" class="about__img">
                    </img>
                    <!-- deco   rator -->
                    <div class="">
                        <img src="./assets/img/about/decorator2.png" alt="decorator about" class="about__decor-img">
                        <img src="./assets/img/about/decorator3.png" alt="decorator about" class="about__decor-img">
                        <img src="./assets/img/about/decorator4.png" alt="decorator about" class="about__decor-img">
                        <img src="./assets/img/about/decorator5.png" alt="decorator about" class="about__decor-img">
                        <img src="./assets/img/about/decorator6.png" alt="decorator about" class="about__decor-img">
                        <img src="./assets/img/about/dc-about.png" alt="decorator about" class="about__decor-img">
                    </div>
                </figure>
            </div>

            <!-- about content 2 -->

            <section class="about__content">
                <h2 class="about__heading">
                    Taking A Vacation?
                    So Is Your Pet.
                </h2>
                <p class="about__desc">
                    We offer long-term and short-term boarding. Every dog has its own private, spacious room and daily individual time in our large play yard.
                </p>
                <ul class="about__content-list">
                    <li class="about__content-item">
                        <img src="./assets/img/about/Group 32.png" alt="" class="about__content-item-img">
                        <p class="about__content-item-name">Pet Boarding</p>
                    </li>
                    <li class="about__content-item">
                        <img src="./assets/img/about/Group 36.png" alt="" class="about__content-item-img">
                        <p class="about__content-item-name">Pet Daycare</p>
                    </li>
                    <li class="about__content-item">
                        <img src="./assets/img/about/Group.png" alt="" class="about__content-item-img">
                        <p class="about__content-item-name">Pet Transport</p>
                    </li>
                </ul>

                <p class="about__desc about__desc-item">
                    While you're on holiday, here's where your furry friends will spend their time.
                </p>

                <a href="#!" class="about__content-link">View more</a>
            </section>
        </div>
    </div>
</section>