<section class="hero">
    <div class="container">
        <div class="hero__inner">
            <!-- hero media -->
            <div class="hero__media">
                <figure class="hero__img-wrap">
                    <img
                        src="/src/assets/images/header/pet01.png"
                        alt="cat"
                        class="hero__img"
                    />

                    <!-- decorator -->
                    <img
                        src="/src/assets/images/header/dc2.png"
                        alt="decorator"
                        class="hero__decor-right hero__decor"
                    />
                    <img
                        src="/src/assets/images/header/dc1.png"
                        alt="decorator"
                        class="hero__decor-left hero__decor"
                    />
                    <!-- hero list -->
                    <div class="hero__list">
                        <!-- hero list item 1 -->
                        <section class="hero-list-item">
                            <img
                                src="/src/assets/images/header/pet03.png"
                                alt=""
                                class="hero-list-item__thumb"
                            />
                            <div class="hero-list-item__info">
                                <h4 class="hero-list-item__heading">
                                    Pet Health
                                </h4>
                                <div
                                    class="hero-list-item__skeleton"
                                ></div>
                            </div>
                        </section>

                        <!-- hero list item 2 -->
                        <div class="hero-list-item__separate"></div>
                        <!-- hero list item 3 -->
                        <section class="hero-list-item">
                            <img
                                src="/src/assets/images/header/pet04.png"
                                alt=""
                                class="hero-list-item__thumb"
                            />
                            <div class="hero-list-item__info">
                                <h4 class="hero-list-item__heading">
                                    Pet Health
                                </h4>
                                <div
                                    class="hero-list-item__skeleton"
                                ></div>
                            </div>
                        </section>
                    </div>
                </figure>
                <figure class="hero__img-wrap-right">
                    <img
                        class="hero__img-right"
                        src="/src/assets/images/header/pet02.png"
                        alt=""
                    />
                </figure>
            </div>

            <!-- hero content -->
            <section class="hero__content">
                <h1 class="hero-content__heading">
                    Established & Trusted Pet Care Service
                </h1>
                <p class="hero-content__desc">
                    Discover a wide variety of Pawsitive services to
                    choose from, including daycare, private walks,
                    office duty and spa.
                </p>

                <!-- hero row -->
                <div class="hero-content__row">
                    <a href="" class="hero-content__cta btn"
                        >Book a Meet
                        <svg
                            width="5"
                            height="6"
                            viewBox="0 0 5 6"
                            fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M1.48584 0.5L3.98584 3L1.48584 5.5"
                                stroke="#FD5056"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                        </svg>
                    </a>
                    <a href="" class="hero-content-cta__link"
                        >Schedule a Call
                    </a>
                </div>
            </section>
        </div>
    </div>
</section>